@charset "UTF-8";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  height: 100vh;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  text-align: center;
  padding: 1.2rem;
  background-color: #56c8f2;
  width: 100%;
  color: #0d0dc3;
  font-size: large;
}
section {
  flex: 1;
  display: flex;
}
section div {
  display: flex;
  flex-direction: column;
  width: 60%;
}
section div a {
  text-align: center;
  font-size: large;
  display: inline-block;
}
.image-box {
  background-image: url(../images/sea.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-size: cover;
}
.image-box img {
  width: 100%;
  border-radius: 30%;
}
.image {
  cursor: pointer;
  width: 200px;
  top: 50%;
}
div.image {
  display: flex;
}
