@charset "UTF-8";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  height: 100vh;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  text-align: center;
  padding: 1.2rem;
  background-color: #56c8f2;
  width: 100%;
  color: #0d0dc3;
  font-size: large;
}
section {
  flex: 1;
}
section div {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 15px;
  margin: 20px;
}
section div a {
  text-align: center;
  font-size: large;
  display: inline-block;
}
.image-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.image {
  cursor: pointer;
  width: 200px;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
}
